.mainAppWrapper{
  position: relative;
  height: 100vh;
}
.mainAppBody{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.mainAppHeader{
  text-align: center;
}
.modal-dialog {
  width: 95% !important;
  height: 95%;
}
.modal-content{
  height:100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
