#MainApp{
  max-width: 1200px;
  padding: 0 15px;
  margin:0 auto;
}
header {
  width: 100%;
  padding: 25px;
}
.position-top {
  top: 0;
  left: 0;
  right: 0;
}
.align-right {
  margin-left: 15px;
  float: right;
}
.about-trigger img{
  display: inline-block;
  transition: transform .25s cubic-bezier(.175,.885,.32,1.275);
  transform-origin: center center;
}
.about-trigger:hover{
  cursor: pointer;
}
.about-trigger:hover img {
  transform: scale(1.25);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
